<div>
    <div>
        <h2>Community Feed</h2>
        <button>
            <span>add</span>
            Create Post
        </button>
    </div>

    <div>
        <div *ngFor="let post of posts$ | async">
            <div>
                <h3>Gym Update</h3>
                <span>{{ post.createdAt | date }}</span>
            </div>
            <p>{{ post.content }}</p>
            <div>
                <div>
                    <button (click)="likePost(post._id!)">
                        <span>thumb_up</span>
                        Like
                    </button>
                </div>
            </div>

            <div *ngIf="(posts$ | async)?.length === 0">
                No posts yet. Be the first to share!
            </div>
        </div>
    </div>