<div>
    <div>
        <div>
            <h2>Staff Attendance</h2>
            <p>Marking attendance for {{ currentDate | date:'fullDate' }}</p>
        </div>
    </div>

    <div>
        <div *ngFor="let staff of staff$ | async">
            <div>
                <div>
                    <span>person</span>
                </div>
                <div>
                    <h3>{{ staff.name }}</h3>
                    <p>{{ staff.role }}</p>
                </div>
            </div>

            <div>
                <button [class.btn-success]="attendance[staff._id!] === 'Present'"
                    (click)="markAttendance(staff._id!, 'Present')">
                    <span>Present</span>
                    <span *ngIf="attendance[staff._id!] === 'Present'">check_circle</span>
                </button>
                <button [class.btn-danger]="attendance[staff._id!] === 'Absent'"
                    (click)="markAttendance(staff._id!, 'Absent')">
                    <span>Absent</span>
                    <span *ngIf="attendance[staff._id!] === 'Absent'">cancel</span>
                </button>
                <button [class.btn-warning]="attendance[staff._id!] === 'Leave'"
                    (click)="markAttendance(staff._id!, 'Leave')">
                    <span>On Leave</span>
                    <span *ngIf="attendance[staff._id!] === 'Leave'">history_toggle_off</span>
                </button>
            </div>
        </div>
    </div>
</div>