<div>
    <div>
        <h2>GYMAURA Login
        </h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label>Email</label>
                <input type="email" formControlName="email">
            </div>
            <div>
                <label>Password</label>
                <input type="password" formControlName="password">
            </div>
            <button type="submit" [disabled]="(isLoading$ | async)">
                {{ (isLoading$ | async) ? 'Logging in...' : 'Login' }}
            </button>
            <div *ngIf="error$ | async as error">
                {{ error?.error?.message || 'Login failed' }}
            </div>
        </form>
        <div>
            <a routerLink="/register">Don't have an account?
                Register</a>
        </div>
    </div>
</div>